*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.main-container {
  display: flex;
}

.side-panel {
  background-color: #272323;
  border-right: 3px solid #000000;
  max-width: 165px;
  min-width: 165px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 100vh;
}

.sub-panel {
  padding: 5px;
  margin: 5px 5px 0 5px;
  border: 2px solid #000000;
  border-radius: 5px;
}

.item-container {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.item {
  width: 35px;
  min-height: 35px;
  border: 2px solid #000000;
  border-radius: 5px;
  transition:
    border-radius 0.2s,
    border 0.1s;
}

.item:hover {
  border: 3px solid #000000;
}

.selected {
  border-radius: 50%;
}

.dark-color {
  background-color: #212020;
}

.white-color {
  background-color: #ffffff;
}

.green-color {
  background-color: #008000;
}

.light-green-color {
  background-color: #90ee90;
}

.blue-color {
  background-color: #0000ff;
}

.light-blue-color {
  background-color: #add8e6;
}

.red-color {
  background-color: #ff0000;
}

.yellow-color {
  background-color: #ffff00;
}

.orange-color {
  background-color: #ffa500;
}

.purple-color {
  background-color: #800080;
}

.pink-color {
  background-color: #ffc0cb;
}

.magenta-color {
  background-color: #ff00ff;
}

input[type="range"] {
  width: 90px;
}

#canvas {
  background-color: #212020;
}
